.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	vertical-align:middle;
	display: none;
}
.onFocus
{
      padding:5px 0px 5px 0px; 
	font-size: 12px;
	vertical-align:middle;
	color: #579933;
}
.onError
{
    background: url(../images/onError.gif) no-repeat;
    padding:5px 0px 5px 25px;
	font-size: 12px;
	vertical-align:middle;
	color: #c30;
}
.onCorrect
{
    background: url(../images/onCorrect.gif) no-repeat;
    padding:5px 0px 5px 25px;
	font-size: 12px;
	vertical-align:middle;
}
.onLoad
{
    background: url(../images/onLoad.gif) no-repeat 3px 3px;
    padding:5px 0px 5px 25px;
	font-size: 12px;
	vertical-align:middle;
} 