<p>
  <b>Content:</b>
  <%=h @page.content %>
</p>

<p>
  <b>Meta:</b>
  <%=h @page.meta %>
</p>

<p>
  <b>Description:</b>
  <%=h @page.description %>
</p>

<p>
  <b>Slug:</b>
  <%=h @page.slug %>
</p>



